<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>face_name</key>
		<string>[微笑]</string>
		<key>face_id</key>
		<string>001</string>
		<key>name</key>
		<string>emotion_weixiao</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[撇嘴]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_biezui</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[色]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_se</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[发呆]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_fadai</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[得意]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_deyi</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[流泪]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_liulei</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[害羞]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_haixiu</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[闭嘴]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_bizui</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[睡]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_shui</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[大哭]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_daku</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[尴尬]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_ganga</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[发怒]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_fanu</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[调皮]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_tiaopi</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[呲牙]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_ciya</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[惊讶]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_jingya</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[难过]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_nanguo</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[酷]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_ku</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[冷汗]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_lenghan</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[抓狂]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_zhuakuang</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[吐]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_tu</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[偷笑]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_touxiao</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[可爱]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_keai</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[白眼]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_baiyan</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[傲慢]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_aoman</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[饥饿]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_jie</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[困]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_kun</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[惊恐]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_jingkong</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[流汗]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_liuhan</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[憨笑]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_hanxiao</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[大兵]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_dabing</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[奋斗]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_fendou</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[咒骂]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_zouma</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[疑问]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_yiwen</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[嘘]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_xu</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[晕]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_yun</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[折磨]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_fakuang</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[衰]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_shuai</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[骷髅]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_kulou</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[敲打]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_qiaoda</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[再见]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_zaijian</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[擦汗]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_cahan</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[抠鼻]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_koubi</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[鼓掌]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_guzhang</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[糗大了]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_qiudale</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[坏笑]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_huaixiao</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[左哼哼]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_zuohengheng</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[右哼哼]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_youhengheng</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[哈欠]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_haqian</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[鄙视]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_bishi</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[委屈]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_weiqu</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[快哭了]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_kuaikule</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[阴险]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_yingxian</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[亲亲]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_qinqin</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[吓]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_xia</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[可怜]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_kelian</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[菜刀]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_caidao</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[西瓜]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_xigua</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[啤酒]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_pijiu</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[篮球]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_lanqiu</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[乒乓]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_pingpang</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[咖啡]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_kafei</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[饭]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_fan</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[猪头]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_zhutou</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[玫瑰]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_meigui</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[凋谢]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_diaoxie</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[示爱]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_shiai</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[爱心]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_aixin</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[心碎]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_xinsui</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[蛋糕]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_dangao</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[闪电]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_shandian</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[炸弹]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_zhadan</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[刀]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_dao</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[足球]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_zhuqiu</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[瓢虫]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_pachong</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[便便]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_bianbian</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[月亮]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_yueliang</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[太阳]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_taiyang</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[礼物]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_liwu</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[拥抱]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_baobao</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[强]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_qiang</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[弱]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_ruo</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[握手]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_woshou</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[胜利]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_shengli</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[抱拳]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_baoquan</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[勾引]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_gouying</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[拳头]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_quantou</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[差劲]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_chajing</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[爱你]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_aini</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[NO]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_no</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[OK]</string>
		<key>face_id</key>
		<string>002</string>
		<key>name</key>
		<string>emotion_ok</string>
	</dict>
</array>
</plist>
